.itemDetails {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.itemDetails h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.itemDetails p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.imgAndBack {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.imgAndBack button {
    background-color: rgb(153, 135, 252);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-left: 0.5em;
    margin-right: 0;
    cursor: pointer;
}